{% extends 'layout.html'%}

{% block body %}

        <form method="POST" action = "">
            <div class="form-group">
                
                <div>
                    {% if codigo == 0%}<p>Ingrese los datos para crear una nueva caja: </p>
                    <p>Clave por digitos:</p>
                    <input type="text" class="form-control" name="var1" placeholder="Primer Dígito" >
                    <input type="text" class="form-control" name="var2" placeholder="Segundo Dígito">
                    <input type="text" class="form-control" name="var3" placeholder="Tercer Dígito" >
                    <input type="text" class="form-control" name="var4" placeholder="Cuarto Dígito" >
                    <br><p>Informacion:</p>
                    <input type="text" class="form-control" name="var5" placeholder="Nombre">
                    <input type="text" class="form-control" name="var6" placeholder="Telefono" >
                    <input type="text" class="form-control" name="var7" placeholder="Direccion" >
                    <input type="text" class="form-control" name="var8" placeholder="Monto" >
                    <div>
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </div>
                    {% endif %}

                    {% if codigo == 1 %}
                    <div class="form-group">
                        <input type="text" class="form-control" style="border-color:red" name="var1" placeholder="Clave no valida, ingrese otra clave" >
                    </div>
                    <p>Clave por digitos:</p>
                    <input type="text" class="form-control" name="var1" placeholder="Primer Dígito" >
                    <input type="text" class="form-control" name="var2" placeholder="Segundo Dígito">
                    <input type="text" class="form-control" name="var3" placeholder="Tercer Dígito" >
                    <input type="text" class="form-control" name="var4" placeholder="Cuarto Dígito" >
                    <br><p>Informacion:</p>
                    <input type="text" class="form-control" name="var2" placeholder="Nombre" value="{{datoscaja[1]}}">
                    <input type="text" class="form-control" name="var3" placeholder="Telefono" value="{{datoscaja[2]}}">
                    <input type="text" class="form-control" name="var4" placeholder="Direccion" value="{{datoscaja[3]}}">
                    <input type="text" class="form-control" name="var5" placeholder="Monto" value="{{datoscaja[4]}}">
                    <div>
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </div>
                    {% endif %}
                </div>
                
            </div>
        </form>
        {% if ingresado == 1 %}
        <div class = "container">
            <h3>Nueva Caja:</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Monto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{datoscaja[1]}}</th>
                        <th scope="row">{{datoscaja[2]}}</th>
                        <th scope="row">{{datoscaja[3]}}</th>
                        <th scope="row">{{datoscaja[4]}}</th>
                    </tr>
                </tbody>
            </table>
            <form method="GET" action = "/ABRIR">
                <button type="submit" class="btn btn-primary" >Cerrar Caja</button>
            </form>
        </div>
        {% endif %}
{% endblock %}
