{% extends 'layout.html'%}

{% block body %}

<form method="POST" action = "">
    <div class="form-group">
        <p>Ingrese el código del usuario: </p>
        <div>
            <input type="text" class="form-control" name="parte1" placeholder="Primer Dígito" size="1">
            <input type="text" class="form-control" name="parte2" placeholder="Segundo Dígito" size="1">
            <input type="text" class="form-control" name="parte3" placeholder="Tercer Dígito" size="1">
            <input type="text" class="form-control" name="parte4" placeholder="Cuarto Dígito" size="1">
        </div>
        <div>
            
        </div>
    </div>
</form>

{% endblock %}